---
---
@import "{{ site.theme }}";

@font-face {
  font-family: 'Marianne';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Marianne-Regular.woff") format('woff'),
    url("../fonts/Marianne-Regular.woff2") format('woff2');
}

body {
 font-family: 'Marianne',
 font-style: normal
}
  
 
